## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [9]:
string="Hi there dad!"

In [10]:
print(string.split())

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [11]:
planet = "Earth"
diameter = 12742

In [12]:

print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [13]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [14]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [16]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [17]:
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

1.Tuple is immutable and List is mutable

2.In tuple elements are enclosed within () wheras the elements of list are enclosed within []

Example:

    t=(1,2,3,4,5)
    l=[1,2,3,4,5]

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [19]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

In [20]:
email = input("Please enter your email:")
domainGet(email)

Please enter your email:user@domain.com
Your domain is: domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [21]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

In [22]:
st = input("Please key a string: ")
findDog(st)

Please key a string: I have a dog in my house
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [23]:
string = input("Please enter your string: ")

def countdogs(string):
    count = 0
    for word in string.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)

Please enter your string: Dog is a domestic animal . I love dogs

In [24]:
countdogs(string)

1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [25]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [26]:
print("Please enter the speed(km/h)(only number please): \n")
speed = int(input("> "))

print("Please enter your birthday: (in DD/MM/YYYY format)\n")
birthday = str(input("> "))

def caught_speeding(speed, birthday):
    if birthday == '29/08/1989':
        speeding = speed - 5
    else:
        speeding = speed

    if speeding > 80:
        print("Big Ticket")
    elif speeding > 61 and speeding <= 80:
        print("Small ticket")
    else:
        print("No Ticket.")
caught_speeding(speed, birthday)

Please enter the speed(km/h)(only number please):

> 85
Please enter your birthday: (in DD/MM/YYYY format)

> 06/05/2022
Big Ticket

In [27]:
print("Please enter the speed(km/h)(only number please): \n")
speed = int(input("> "))

print("Please enter your birthday: (in DD/MM/YYYY format)\n")
birthday = str(input("> "))

def caught_speeding(speed, birthday):
    if birthday == '29/08/1989':
        speeding = speed - 5
    else:
        speeding = speed

    if speeding > 80:
        print("Big Ticket")
    elif speeding > 61 and speeding <= 80:
        print("Small ticket")
    else:
        print("No Ticket.")
caught_speeding(speed, birthday)

Please enter the speed(km/h)(only number please):

> 70
Please enter your birthday: (in DD/MM/YYYY format)

> 25/04/22
Small ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [28]:
list=[15000,25000,35000,45000,55000]
sum=0
for i in list:
  sum=sum+i
print(sum)

175000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [32]:
def Merge(dict1,dict2):
    return(dict1.update(dict2))
dict1 ={
    "Empid":95,
    "Empname":"GIRL",
    "Basic Pay":55000
}
dict2 ={
    "DeptName":"IT",
    "DeptId": 104
}
print(Merge(dict1,dict2))
print(dict1)

None
{'Empid': 95, 'Empname': 'GIRL', 'Basic Pay': 55000, 'DeptName': 'IT', 'DeptId': 104}